@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  color: #0052d7;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

/* Blog page watermark */
/* .blogMain::before {
  content: '';
  background: url(../assets/ejy_health_Watermark.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
} */

/* MUI tooltip style */
.MuiTooltip-tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1em;
  padding: 4px 15px;
}
.MuiTooltip-arrow {
  color: rgba(0, 0, 0, 0.8);
}
